.metrics-view-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4em;
  padding: 0 2rem;
  width: 60vw;
  background-color: #72C6E9;
}

.metrics-view-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
