.totals-view {
  flex-direction: column;
  padding: 2em;
  width: 60vw;
  background-color: #303032;
  border-radius: 5px;
}

.totals-wrapper {
  width: 100%;
}

@media screen and (max-width: 770px) {
  .totals-wrapper {
    flex-direction: column;
  }
}
