* {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1em;
}

h1 {
  margin: 0;
  color: #2D2D2D;
  font-size: 3em;
  font-weight: 800;
  text-align: center;
}

h2 {
  margin-top: 0;
  color: #2D2D2D;
  font-size: 2em;
  font-weight: 800;
  letter-spacing: 1.1px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #72C6E9;
}

.App {
  display: flex;
}

main {
  flex-direction: column;
  min-height: 100vh;
  padding: 2vh 5vw 2vh 15vw;
  width: 100%;
  overflow: auto;
}

.effort-average-container {
  justify-content: space-around;
  padding: 2rem;
  margin-bottom: 4rem;
  width: 60vw;
  background-color: #72C6E9;
  border-radius: 2px;
}
