* {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1em;
}

.App {
  display: flex;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 15vw;
  overflow: auto;
}
