* {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1em;
}

h1 {
  margin: 0;
  font-size: 3em;
  font-weight: 800;
  text-align: center;
}

h2 {
  color: #FFFFFF;
  font-size: 2em;
}

.App {
  display: flex;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 2vh 5vw 2vh 15vw;
  width: 100%;
  overflow: auto;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #72C6E9;
}
