.avatar-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 1rem;
  border-bottom: 1px solid #FFFFFF;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1.1px;
}

.avatar-container img {
  height: 10rem;
  width: 10rem;
  border: 10px solid #FFFFFF;
  border-radius: 50%;
  filter: hue-rotate(180deg);
  opacity: 0.9;
}
